<div class="container">
    <div class="row clearfix well">
      <div class="col-md-12 column">
      <h1><center>Event@FedEx Institute of Technology</center></h1>
        <%= form_for @event do |f| %>
          <% if @event.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved.</h2>
            <ul>
              <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
            </div>
          <% end %>
          <h2>Event Info</h2>
          <div class="col-md-4 column">
            <p>
              <%= f.label :title %><br>
              <%= f.text_field :title %>
            </p>
          <p>
           <div class="optsel">
              <%= f.label 'Is it a multiday event?' %><br>
              <%= f.select :multiday, ['Yes','No'] %>
            </div>
          </p>
            <p>
              <%= f.label 'Event Start Date' %><br>
              <%= f.date_select :fromdate, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' } %>
            </p>
            <div class="datehide">
              <%= f.label 'Event End Date' %><br>
              <%= f.date_select :todate, :prompt => { :day => 'Date', :month => 'Month', :year => 'Year' }  %>  
            </div>
            <br>
            <div class="description">
              <%= f.label 'Do you want description for event?' %><br>
              <%= f.select :description, ['Yes','No'] %>    
            </div>
            <br>
            <div class="deschide">
              <%= f.label 'Description' %><br>
              <%= f.text_area :description %>  
            </div>
            <p>
              <%= f.label :image %><br>
              <%= f.file_field :image %>
            </p> 
            <br>
            <br>
              <%= f.submit %>
        <% end %>
        </div>
          
          <div class="col-md-8 column">
            <img class="img-thumbnail" alt="FIT Building" src= "/fedex-institute.jpg">
          </div>
          </div>
      </div>
      </div>



<script>
  $( ".optsel" ).change(function() {
    if ($(this).find(':selected').val() == 'No') {
      $(".datehide").hide();
    } 
    else if ($(this).find(':selected').val() == 'Yes') {
      $(".datehide").show();
    } 
  });

  $( ".description" ).change(function() {
    if ($(this).find(':selected').val() == 'No') {
      $(".deschide").hide();
    } 
    else if ($(this).find(':selected').val() == 'Yes') {
      $(".deschide").show();
    } 
  });

</script>
