<div class="container">
  <div class="row clearfix well">
    <div class="col-md-12 column">
    <h1> List of Events </h1>
    </div>
    <div class="col-md-12 column">
<table class="table table-striped">
	<tr>
	<th> Title </th>
	<th> Day </th>
	<th> Date </th>
	<th> Month </th>
	<th> Year </th>
	</tr>

	<% @events.each do |event| %>

	<tr>
		<td> <%= event.title %> </td>
		<td> <%= event.day %> </td>
		<td> <%= event.date %> </td>
		<td> <%= event.month %> </td>
		<td> <%= event.year %> </td>
		<td>
			<div class="col-md-2 column">
			<%= link_to 'Show', event_path(event) %>
			</div>
			<div class="col-md-2 column">
			<%= link_to 'Edit', edit_event_path(event) %>
			</div>
			<div class="col-md-2 column">
			<%= link_to 'Destroy', event_path(event), method: :delete %>
			</div>
		</td>
	</tr>

	<% end %>

</table>
</div>
<br>
<div class="col-md-2 column">
    <button onclick = "location.href='/events/new';" class="btn btn-primary btn-block" type="button">
    Create New Event
    </button>
</div>
	</div>
</div>