<div class="container">
  <div class="row clearfix well">
    <div class="col-md-12 column">
    	<div align="right">
    	<%= form_tag(events_path, :method => "get", id: "search-form") do %>
    		<%= text_field_tag :search, params[:search], placeholder: "Search Events" %>
            <%= submit_tag "Search" %>
        <% end %>
        </div>
    <h1> List of Events </h1>
    </div>
    <div class="col-md-12 column">
		<table class="table table-striped">
			<tr>
				<th> Title </th>
				<th> Event Start Date </th>
				<th> Event End Date </th>
			</tr>

			<% @events.each do |event| %>

			<tr>
				<td> <%= event.title %> </td>
				<td> <%= event.fromdate.to_time.strftime('%D') %> </td>
				<% if event.todate != nil %>
					<td> <%= event.todate.to_time.strftime('%D') %> </td>
				<% else %>
					<td> <%= "N/A" %>
				<% end %>
				<td>
					<div class="col-md-2 column">
					<%= link_to 'Show', event_path(event) %>
					</div>
					<% if admin_signed_in?%>
						<div class="col-md-2 column">
						<%= link_to 'Edit', edit_event_path(event) %>
						</div>
						<div class="col-md-2 column">
						<%= link_to 'Delete', event_path(event), method: :delete %>
						</div>
					<% end %>
				</td>
			</tr>

			<% end %>

		</table>
	</div>
<br>
<% if admin_signed_in?%>
	<div class="col-md-2 column">
    	<button onclick = "location.href='/events/new';" class="btn btn-primary" type="button">
    	Create New Event
    	</button>
<% else %>
		<button onclick = "location.href='/events/new';" class="btn btn-primary" type="button" disabled="true">
    	Create New Event
    	</button>
<% end %>
	</div>
	</div>
</div>