<p>
	<strong>Title:</strong>
  	<%= @event.title %>
</p>

<p>
  	<strong>Day:</strong>
  	<%= @event.day %>
</p>

<p>
  	<strong>Date:</strong>
  	<%= @event.date %>
</p>

<p>
	<strong>Month:</strong>
	<%= @event.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @event.year %>
</p>

<%= link_to 'Back', events_path %>