<html>
  <head>
    <title>Signup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="row clearfix well">
      <div class="col-sm-12 col-md-12 col-lg-12 column">
        <div class="col-sm-4 col-md-4 col-lg-4 column">
          <%= link_to 'Home', root_path, :class=>"btn btn-primary", :style=>"margin-right: 1em"%>
          <%= link_to 'Events', events_path, :class=>"btn btn-primary", :style=>"margin-right: 1em"%>
        </div>
          <div class="col-sm-8 col-md-8 col-lg-8 column">
       		<% if admin_signed_in? %>
            <%= link_to 'Logout', destroy_admin_session_path, method: :delete , :class=>"btn btn-primary", :style=>"float: right; margin-right: 1em"%>
            <%= link_to 'Change Password', edit_admin_registration_path, :class=>"btn btn-primary", :style=>"float: right; margin-right: 1em"%>
            <% else %>
              <a href="/admins/signin"><i class="fa fa-user fa-2x pull-right" aria-hidden="true"></i> </a>       
          <% end %>
          </div>
        </div>
      </div>          

      <% if flash[:notice] %>
  			<p style="color: green">
  			<%= flash[:notice] %>
  			</p>
  		<% end %>
  	<% if flash[:alert] %>
  		<p style="color: red">
  		<%= flash[:alert] %>
  		</p>
  	<% end %>
  </div>

    <%= yield %>
  </body>
</html>
